//

$BLACK: #000;
$WHITE: #fff;

//GRAY
$GRAY50: #f9fafb;
$GRAY100: #f3f4f6;
$GRAY200: #e5e7eb;
$GRAY300: #d1d5db;
$GRAY400: #9ca3af;
$GRAY500: #6b7280;
$GRAY600: #4b5563;
$GRAY700: #374151;
$GRAY800: #1f2937;
$GRAY900: #111827;

//RED
$RED50: #fef2f2;
$RED100: #fee2e2;
$RED200: #fecaca;
$RED300: #fca5a5;
$RED400: #f87171;
$RED500: #ef4444;
$RED600: #dc2626;
$RED700: #b91c1c;
$RED800: #991b1b;
$RED900: #7f1d1d;

//YELLOW
$YELLOW50: #fffbeb;
$YELLOW100: #fef3c7;
$YELLOW200: #fde68a;
$YELLOW300: #fcd34d;
$YELLOW400: #fbbf24;
$YELLOW500: #f59e0b;
$YELLOW600: #d97706;
$YELLOW700: #b45309;
$YELLOW800: #92400e;
$YELLOW900: #78350f;

//GREEN
$GREEN50: #ecfdf5;
$GREEN100: #d1fae5;
$GREEN200: #a7f3d0;
$GREEN300: #6ee7b7;
$GREEN400: #34d399;
$GREEN500: #10b981;
$GREEN600: #059669;
$GREEN700: #047857;
$GREEN800: #065f46;
$GREEN900: #064e3b;

//BLUE
$BLUE50: #eff6ff;
$BLUE100: #dbeafe;
$BLUE200: #bfdbfe;
$BLUE300: #93c5fd;
$BLUE400: #60a5fa;
$BLUE500: #3b82f6;
$BLUE600: #2563eb;
$BLUE700: #1d4ed8;
$BLUE800: #1e40af;
$BLUE900: #1e3a8a;

//PURPLE
$PURPLE50: #f5f3ff;
$PURPLE100: #ede9fe;
$PURPLE200: #ddd6fe;
$PURPLE300: #c4b5fd;
$PURPLE400: #a78bfa;
$PURPLE500: #8b5cf6;
$PURPLE600: #7c3aed;
$PURPLE700: #6d28d9;
$PURPLE800: #5b21b6;
$PURPLE900: #4c1d95;

//PINK
$PINK50: #fdf2f8;
$PINK100: #fce7f3;
$PINK200: #fbcfe8;
$PINK300: #f9a8d4;
$PINK400: #f472b6;
$PINK500: #ec4899;
$PINK600: #db2777;
$PINK700: #be185d;
$PINK800: #9d174d;
$PINK900: #831843;
