////////////////////!Neutral Colors!/////////////////////

//Light
$Neutral-Light-0: #ffffff;
$Neutral-Light-1: #f9f9fa;
$Neutral-Light-2: #f3f3f5;
$Neutral-Light-3: #ecedf0;
$Neutral-Light-4: #e6e7eb;
$Neutral-Light-5: #e0e1e6;
$Neutral-Light-6: #dadce0;
$Neutral-Light-7: #d4d6db;
$Neutral-Light-8: #cfd1d6;
$Neutral-Light-9: #caccd1;
$Neutral-Light-10: #c4c6cc;
$Neutral-Light-11: #bfc1c7;
$Neutral-Light-12: #babcc2;
$Neutral-Light-13: #b5b7bd;
$Neutral-Light-14: #afb2b8;
$Neutral-Light-15: #aaadb3;
$Neutral-Light-16: #a5a7ad;

//GREY
$Neutral-Gray-0: #a0a2a8;
$Neutral-Gray-1: #9b9da3;
$Neutral-Gray-2: #96989e;
$Neutral-Gray-3: #919399;
$Neutral-Gray-4: #8c8e94;
$Neutral-Gray-5: #87898f;
$Neutral-Gray-6: #82848a;
$Neutral-Gray-7: #7e7f85;
$Neutral-Gray-8: #797a80;
$Neutral-Gray-9: #74767a;
$Neutral-Gray-10: #6f7175;
$Neutral-Gray-11: #6a6c70;
$Neutral-Gray-12: #65676b;
$Neutral-Gray-13: #606266;
$Neutral-Gray-14: #5c5d61;
$Neutral-Gray-15: #57585c;
$Neutral-Gray-16: #525357;

//Dark
$Neutral-Dark-0: #4d4e52;
$Neutral-Dark-1: #484a4d;
$Neutral-Dark-2: #444547;
$Neutral-Dark-3: #3f4042;
$Neutral-Dark-4: #3a3b3d;
$Neutral-Dark-5: #363638;
$Neutral-Dark-6: #313133;
$Neutral-Dark-7: #2c2d2e;
$Neutral-Dark-8: #272829;
$Neutral-Dark-9: #232324;
$Neutral-Dark-10: #1e1e1f;
$Neutral-Dark-11: #19191a;
$Neutral-Dark-12: #141414;
$Neutral-Dark-13: #0f0f0f;
$Neutral-Dark-14: #0f0f0f;
$Neutral-Dark-15: #0a0a0a;
$Neutral-Dark-16: #000000;

////////////////////!Palette!/////////////////////

//Blue
$Blue-90: #f5faff;
$Blue-80: #c4e3fd;
$Blue-70: #93ccfa;
$Blue-60: #62b5f8;
$Blue-50: #329ef6;
$Blue-40: #0a86eb;
$Blue-30: #086aba;
$Blue-20: #064e89;
$Blue-10: #043258;

//Red
$Red-90: #fef6f6;
$Red-80: #fac7c7;
$Red-70: #f59999;
$Red-60: #f06a6a;
$Red-50: #ec3c3c;
$Red-40: #df1616;
$Red-30: #b01111;
$Red-20: #820d0d;
$Red-10: #540808;

//Green
$Green-90: #f7fcf9;
$Green-80: #d1f0dd;
$Green-70: #abe3c0;
$Green-60: #85d6a4;
$Green-50: #5dc986;
$Green-40: #3db86c;
$Green-30: #309155;
$Green-20: #246b3f;
$Green-10: #174528;

//Yellow
$Yellow-90: #fefcf6;
$Yellow-80: #faeec7;
$Yellow-70: #f5e199;
$Yellow-60: #f0d36a;
$Yellow-50: #ecc53c;
$Yellow-40: #dfb316;
$Yellow-30: #b08d11;
$Yellow-20: #82680d;
$Yellow-10: #544308;
